* {
  margin: 0px;
  padding: 0px;
}

#indexAnimate {
  position: absolute;
  height: 100%;
  width: 100%;
}

#app>div {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background: rgba(0,0,0,0.5);
  padding: 20px;
}

#app>div>p {
  color: white;
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif
}

a {
  color: #42b983;
}